<#setting number_format = "#"/>
<#setting datetime_format = dateTimeFormat/>
<#assign logged = logged?default(false)/>
<#assign language = language?default("en_US")/>
<#assign hasCodeBlock = hasCodeBlock?default(false)/>
<!doctype html>
<html>
<head>
  <title>Forum - OpenThesaurus.gr - Ελληνικός Θησαυρός συνωνύμων</title>
  <meta name="keywords" content="Συνώνυμα, Θησαυρός, Λεξικό"/>
  <meta name="description" content="Το OpenThesaurus.gr είναι ένα λεξικό συνωνύμων στο οποίο μπορούν όλοι να συμμετέχουν"/>
  <meta http-equiv="Pragma" content="no-cache" /> 
  <meta http-equiv="Expires" content="-1" />
  <link rel="stylesheet" type="text/css" href="${contextPath}/templates/${templateName}/styles/style.css" />
  <link rel="stylesheet" type="text/css" href="${contextPath}/templates/${templateName}/styles/${language}.css" />
  <link type="text/css" rel="stylesheet" href="/css/reset-min.css" />
  <link type="text/css" rel="stylesheet" href="/css/layout.css" />
  <link rel="shortcut icon" href="/images/favicon_openthesaurus.ico" />
  <link rel="search" type="application/opensearchdescription+xml" title="OpenThesaurus" href="/openSearch/index" />

  <link rel="alternate" type="application/rss+xml" title="Πρόσφατες αναθεωρήσεις στο OpenThesaurus.gr" href="/feed" />
 
  <meta name="layout" content="homepage"/>
  <link rel="image_src" href="/images/screenshot_homepage_300px.png" /> 

</head>
<body>
  <div id="body" style="padding:80px 0 120px 0;">
    <div id="content">

    <div id="search">

    <div class="logo"><a href="/"><img
        src="/images/openthesaurus-logo.png"
        alt="OpenThesaurus Logo" width="341" height="93" /></a></div>

    <p class="claim">Συνώνυμα και συσχετίσεις</p>
    
    <form action="/synonyme" onsubmit="window.location='/synonyme/' + encodeURIComponent(document.searchform.q.value.replace('/', '___'));return false;" name="searchform">

    <input style="outline: none" onclick="document.searchform.q.select()" accesskey="s" type="text" id="search-field" name="q" value="Αναζήτηση" /><input type="image" title="Αναζήτηση Συνωνύμων" src="/images/search-submit.png" />

  </form>
</div>

<script type="text/javascript">
var touchOS = ('ontouchstart' in document.documentElement) ? true : false;
if (!touchOS) {
  document.searchform.q.focus();
  document.searchform.q.select();
}
</script>

      <div style="margin-top:23px"></div>
